[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"
djangorestframework = "*"
django-extensions = "*"
pytest = "*"
pytest-django = "*"
gunicorn = "*"
"psycopg2-binary" = "*"

[requires]
python_version = "3.7"
